# LangChain Core
langchain
langchain-core
langchain_text_splitters
langchain_community

tqdm

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn
pandas

# Streamlit Web Application.
streamlit
